@import "_config";

body {
  margin: 0;
  padding: 0;
}

#mainContent {
  position: relative;
  overflow: hidden;
  width: $width;
  height: $height;
  cursor: pointer;
  background: $red;
  box-sizing: border-box;
  div,
  img {
    position: absolute;
  }
}
.hide {
  opacity: 0;
}

.logo {
  top: 44px;
  right: 0px;
}

#windowsLogo{
  top: 111px;
  left: 173px;
}

.bgColor {
  width: $width;
  height: 475px;
  top: 0;
  left: 0;
  background: $black;
}

.right {
  transform: translateX(970px);
}
.left {
  transform: translateX(-970px);
}
.up {
  transform: translateY(-475px);
}

#copyThree{
  top: 0px;
}

.cta {
  top: 62px;
  left: 447px;
}
#intelLogo {
  bottom: 53px;
  left: 57px;
}

#intelCopy {
  bottom: 12px;
  left: 39px;
}
#bottomCopy{
  bottom: 30px;
  left: 162px;
}
#bottomContent {
  width: $width;
  height: 188px;
  bottom: 0;
}
#transparentCta{
  width:70px;
  height:36px;
  top: 62px;
  left: 447px;
}
#bgExit {
  width: $width;
  height: $height;
  cursor: pointer;
}
