html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 600px;
  cursor: pointer;
  background: #e1140a;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

.hide {
  opacity: 0; }

.logo {
  top: 44px;
  right: 0px; }

#windowsLogo {
  top: 110px;
  right: 60px; }

.bgColor {
  width: 300px;
  height: 475px;
  top: 0;
  left: 0;
  background: #000; }

.right {
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px); }

.left {
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }

.up {
  -webkit-transform: translateY(-475px);
  -ms-transform: translateY(-475px);
  transform: translateY(-475px); }

#copyThree {
  top: 135px; }

.cta {
  top: 204px;
  left: 17px; }

#intelLogo {
  bottom: 100px;
  left: 39px; }

#intelCopy {
  bottom: 112px;
  right: 29px; }

#bottomCopy {
  bottom: 10px;
  right: 60px; }

#bottomContent {
  width: 300px;
  height: 188px;
  background: #333f48;
  bottom: 0; }

#bgExit {
  width: 300px;
  height: 600px;
  cursor: pointer; }
