@import "_config";

body {
  margin: 0;
  padding: 0;
}

#mainContent {
  position: relative;
  overflow: hidden;
  width: $width;
  height: $height;
  cursor: pointer;
  background: $red;
  box-sizing: border-box;
  div,
  img {
    position: absolute;
  }
}
.hide {
  opacity: 0;
}

.logo {
  top: 44px;
  right: 0px;
}

#windowsLogo{
  top: 110px;
  right: 60px;;
}

.bgColor {
  width: $width;
  height: 475px;
  top: 0;
  left: 0;
  background: $black;
}

.right {
  transform: translateX(300px);
}
.left {
  transform: translateX(-300px);
}
.up {
  transform: translateY(-475px);
}

#copyThree{
  top: 135px;
}

.cta {
  top: 204px;
  left: 17px;
}
#intelLogo {
  bottom: 100px;
  left: 39px;
}

#intelCopy {
  bottom: 112px;
  right: 29px;
}
#bottomCopy{
  bottom: 10px;
  right: 60px;
}
#bottomContent {
  width: $width;
  height: 188px;
  background: #333f48;
  bottom: 0;
}

#bgExit {
  width: $width;
  height: $height;
  cursor: pointer;
}
