html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 970px;
  height: 250px;
  cursor: pointer;
  background: #e1140a;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

.hide {
  opacity: 0; }

.logo {
  top: 44px;
  right: 0px; }

#windowsLogo {
  top: 98px;
  left: 297px; }

.bgColor {
  width: 970px;
  height: 475px;
  top: 0;
  left: 0;
  background: #000; }

.right {
  -webkit-transform: translateX(970px);
  -ms-transform: translateX(970px);
  transform: translateX(970px); }

.left {
  -webkit-transform: translateX(-970px);
  -ms-transform: translateX(-970px);
  transform: translateX(-970px); }

.up {
  -webkit-transform: translateY(-475px);
  -ms-transform: translateY(-475px);
  transform: translateY(-475px); }

#copyThree {
  top: 0px; }

.cta {
  top: 62px;
  left: 447px; }

#intelLogo {
  bottom: 12px;
  left: 15px; }

#intelCopy {
  bottom: 35px;
  left: 110px; }

#bottomCopy {
  bottom: 20px;
  left: 296px; }

#bottomContent {
  width: 970px;
  height: 188px;
  bottom: 0; }

#transparentCta {
  width: 70px;
  height: 36px;
  top: 62px;
  left: 447px; }

#closeButton {
  top: 5px;
  right: 4px;
  width: 67px;
  height: 14px; }

#closeCopy {
  position: relative;
  width: 50px;
  top: 1Px;
  right: 15px;
  font-family: arial, sans-serif;
  font-size: 11px;
  letter-spacing: 0.4px;
  text-decoration: underline;
  color: white; }

#closeBtn {
  top: 4px;
  left: 54px; }

#bgExit {
  width: 970px;
  height: 250px;
  cursor: pointer; }
